{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="container">
    <h2 class="about-title">About Sections</h2>
    <ul class="about-list">
        <li>Introduction</li>
        <li>Vision</li>
        <li>Mission</li>
        <li>Objectives</li>
        <li>History of the University</li>
        <li>Accreditations & Approvals</li>
        <li>Governance & Leadership</li>
        <li>Chancellor / Vice-Chancellor Message</li>
        <li>Awards & Achievements</li>
        <li>Infrastructure & Facilities</li>
        <li>Placements & Industry Partnerships</li>
        <li>Research & Innovation</li>
        <li>National & International Collaborations</li>
        <li>Student Support & Services</li>
        <li>Alumni Association</li>
        <li>Rules & Regulations</li>
    </ul>
</div>

{% endblock %}
