.container {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ), url('https://www.timeshighereducation.com/cms-academic/sites/default/files/styles/profile_gallery_image/public/2024-10/Dental%20Library.jpeg?itok=uDdYyUDL');
    background-size: cover;
    background-position: center;
    min-height: auto;
    padding: 110px 40px 90px; 
    color: white;
}


.about-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

.about-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 40%;
    font-size: 20px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
}

.about-list li {
    margin: 12px 0;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.about-list li:last-child {
    border-bottom: none;
}


.about-list li:hover {
    background: rgba(255, 255, 255, 0.15);
}
