.courses-bg {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('https://arms.smc.saveetha.com/Content/images/v2/13_Web_banner_SCLAS_2024_v1-01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 110px;
    position: relative;
    color: white;
}

.courses-container {
    width: 50%;
    margin: auto;
    background: rgba(255, 255, 255, 0.18);
    padding: 25px;
    border-radius: 8px;
    backdrop-filter: blur(3px);
}

.courses-container h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.course-list {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.course-list li {
    background: rgba(255, 255, 255, 0.22);
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
}

.course-list li:hover {
    background: rgba(255, 255, 255, 0.32);
    cursor: pointer;
    color: rgb(255, 217, 0);
}
