    body {
                margin: 0;
                font-family: Arial, sans-serif;
            }
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: linear-gradient(to right,rgba(228, 221, 0, 0.5),rgba(228, 0, 228, 0.5));
                padding: 7px 40px;
                position: fixed;
                top: 0;
                left:0;
                width:100%;
                box-shadow: 0px 0px 25px black ;
                box-sizing: border-box;
                  z-index: 1000;
            }
            .navbar h2{
                color: rgb(3, 73, 11);
                font-size: 30px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            .info a {
                margin-left: 25px;
                text-decoration: none;
                color: #c6c906;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 20px;
            }

            .info a:hover {
                color: #1a0c47;
            }
            .img-container{
                background: linear-gradient(
                    rgba(17, 1, 1, 0.6),
                    rgba(0, 0, 0, 0.6)
                ), url('https://images.squarespace-cdn.com/content/v1/6268bb18d74de925d9ff1bb9/e7833d5d-e582-4809-8026-f0db7977099c/lines+hall_SCLAS.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100vh;  
                padding-top: 80px; 
                position: relative;
            }
    .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f6f5b2;
    width: 80%;
}
    .text h1 {
    font-size: 50px;
    font-weight: bold;
}
.subtitle {
    font-size: 24px;
    font-style: italic;
}
       footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color:rgba(220, 66, 10, 0.581);
        color: white;
        text-align: center;
        padding: 6px 0 10px 0;
    }
    .social-icons img {
        width: 18px; 
        height: 18px;
        margin: 0 6px;
        vertical-align: middle;
        transition: 0.3s;
    }
    .social-icons img:hover {
        transform: scale(1.15);
        cursor: pointer;
    }
