*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bg-container {
    background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
    url('https://plus.unsplash.com/premium_photo-1668473366952-45f06fbf6492?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 40px 0;
    color: white;
}

.result-box {
    width: 75%;
    margin: auto;
    background: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 20px black;
}

.result-box h2 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 30px;
    color: #ff0000;
}

.student-info p {
    font-size: 19px;
    margin-bottom: 6px;
    color: rgb(4, 46, 255);
}

.student-info b {
    color:black;
}


table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
    color: white;
    font-size: 18px;
}

table th, table td {
    padding: 12px;
    border: 1px solid rgba(255,255,255,0.5);
    text-align: center;
}


table th {
    background: rgba(255, 215, 0, 0.3);
    font-size: 20px;
    color:rgb(255, 0, 187);
}

table tr:hover {
    background: rgba(255,255,255,0.18);
    transition: 0.3s;
}

.summary {
    margin-top: 25px;
    font-size: 20px;
}

.summary b {
    color: black;
}
.summary p{
    color:rgb(255, 68, 0);
}
