* {
    margin: 0;
    padding: 0;
}

.bgcontainer {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://www.niagara.edu/wp-content/uploads/2024/12/homepage-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.textContainer {
    background:linear-gradient(rgba(237, 233, 233, 0.363),rgba(240, 233, 233, 0.407));
    width:400px;
    height:200px;
    text-align: center;
    color: white;
    border-radius: 12px;
    padding:12px;
}

.textContainer h1 {
    margin-bottom: 20px;
    color: rgb(0, 255, 34);
}

input[type="text"] {
    padding: 10px;
    width: 260px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: rgb(207, 114, 0);
}
